@mixin fontFace($path, $name, $weight, $style) {
    @font-face {
        font-family: $name;
        src: font-url('#{$path}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
        }
    }

@include fontFace('DinPro/Regular', 'DinPro', normal, normal);
@include fontFace('DinPro/Light', 'DinPro', lighter, normal);
@include fontFace('DinPro/Medium', 'DinPro', bold, normal);
