.loading
= semantic_form_for [:admin, @photo] do |f|
  = f.inputs 'Общая информация'
    = f.input :photo_album_id, as: :hidden, input_html: { value: current_admin_user.photo_album.id }
    = f.input :date, as: :select, collection: current_admin_user.photo_album.start_date..current_admin_user.photo_album.finish_date
    = f.input :title
    = f.input :description
    - if action_name == 'new'
      = f.input :files, as: :file, input_html: { multiple: true }
    - else
      = f.input :files, as: :file, input_html: { multiple: true }
      = f.inputs 'Фотографии'
        - f.object.files.each_with_index do |file, index|
          p
            = image_tag file.url(:small)
            = link_to "Удалить фото", remove_photo_admin_photo_path(@photo, index: index), data: { confirm: "Вы уверены, что хотите удалить фото?" }

  = f.submit 'Cоздать фотографию', id: 'button'
