.layout__aside {
    width: 240px;
    height: 856px;
    display: inline-block;
    position: fixed;

    background: image-url("background-aside.png");

    &::after {
        width: 240px;
        height: 1000px;
        bottom: -1000px;
        left: 0;
        position: absolute;
        display: block;

        background-image: image-url("aside-sub-back.png");
        background-color: #fff;
        background-position: 20px 0;

        content: ' ';

    }
}
