.galery__preview-photo__action-share {
    padding: 14px 25px;

    border: 1px solid #fff;

    background-position: 50%;
    background-repeat: no-repeat;

    cursor: pointer;

    &--vk {
        background-image: image-url("vk-icon.png");
    }

    &--facebook {
        background-image: image-url("facebook-icon.png");
    }

    &--download {
        background-image: image-url("download-icon.png");
    }
}
