.galery__navigation__item {
    display: flex;

    cursor: pointer;

    .galery__navigation__icon {
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
    }

    &--left {
        .galery__navigation__text {
            margin-left: 5px;
        }

        .galery__navigation__icon {
            background-image: image-url("arrow-left-green.png");
            &--arrow-left-gray {
              background-image: image-url("arrow-left-gray.png")
            }
        }

    }

    &--all {
        .galery__navigation__text {
            margin-left: 5px;
        }

        .galery__navigation__icon {
            background-image: image-url("burger-icon.png")
        }
    }

    &--right {
        .galery__navigation__text {
            margin-right: 5px;
        }

        .galery__navigation__icon {
            background-image: image-url("arrow-right-green.png");
            &--arrow-right-gray {
              background-image: image-url("arrow-right-gray.png");
            }
        }
    }
}
