.galery__preview-item {
    width: 220px;
    min-width: 220px;
    margin-bottom: 20px;
    position: relative;

    &:hover {
        .galery__preview-photo__actions {
            display: flex;
        }

        .galery__preview-header {
            color: #db9c4f;
        }

        .galery__preview-description {
            display: block;
        }
    }
}
