.galery__photos__navigation-button {
    padding: 15px 35px;
    margin-right: 20px;
    box-sizing: border-box;

    background-color: #EFEFEF;
    box-shadow: 0px 0px 19px -7px rgba(0, 0, 0, 0.75);

    color: #99c45a !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &--active {
        background: #fff;
        border-bottom: 2px solid #99c45a;
    }
}
