.galery__preview-photo__action-slider {
    padding: 10px 29px;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 13px;
    text-align: center;
    background: #99c45a;
    cursor: pointer;
    align-self: flex-end;
}
