.galery__preview-description {
    width: 220px;
    padding: 0 15px 10px 15px;
    box-sizing: border-box;
    display: none;
    position: absolute;

    background-color: #fff;

    font-size: 14px;

    z-index: 9999;
}
