.galery__preview-photo__actions {
    padding: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    position: absolute;
    flex-direction: column;
    align-content: flex-end;

    background-color: rgba(0, 0, 0, 0.5);
}
