.modalwin__slider-aside__control {
    width: 225px;
    padding: 10px 0;
    margin-bottom: 10px;

    font-size: 12px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;

    text-align: center;
    text-transform: uppercase;

    cursor: pointer;

    &--vk {
        background-color: #55779b;
    }

    &--facebook {
        background-color: #3b5998;
    }

    &--download {
        background-color: #99c45a;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
