.modalwin__body {
    width: 940px;
    height: 596px;
    margin-left: -470px;
    margin-top: -298px;
    top: 50%;
    left: 50%;
    position: absolute;

    background-color: #fff;

    box-shadow: 0px 0px 13px -6px rgba(0, 0, 0, 0.75);
}
