.modalwin__slider {
    .fotorama__wrap {
        padding: 25px 20px 15px 20px;
        background-color: #fff;
    }

    .fotorama__thumb-border {

    }

    .fotorama__nav-wrap {
        padding-top: 15px;

        border-top: 1px solid #99c45a;
        background-color: #fff;
    }

    .fotorama__stage {
        width: 735px !important;
        margin-bottom: 15px;

    }

    .fotorama__arr {
        display: none !important;
    }

    .fotorama__thumb-border {
        display: none;
    }

    .fotorama__nav-wrap, .fotorama__nav {
        width: 900px !important;
    }

    .fotorama__thumb {
        &::after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            position: absolute;

            background-color: rgba(255, 255, 255, 0.7);

            content: ' ';
        }
    }

    .fotorama__stage__frame, .fotorama__stage__shaft {
        width: 650px !important;
    }

    .fotorama__active {
        .fotorama__thumb {
            &::after {
                display: none;
            }
        }
    }
}
