.modalwin__body__nav-button {
    width: 54px;
    height: 54px;
    margin-top: -27px;
    top: 340px;
    position: absolute;

    background-color: #fff;

    transform: rotate(45deg);

    cursor: pointer;

    &::after {
        width: 56px;
        height: 34px;
        margin-top: -17px;
        margin-left: -28px;
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;

        background-image: image-url("arrow-right.svg");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;

        content: ' ';
    }

    &--prev {
        left: -90px;

        &::after {
            transform: rotate(135deg);
        }
    }

    &--next {
        right: -90px;

        &::after {
            transform: rotate(-45deg);
        }
    }
}
