.modalwin__slider-aside {
    width: 225px;
    height: 440px;
    padding-left: 20px;
    margin-bottom: 10px;
    position: absolute;
    top: 25px;
    right: 25px;

    border-left: 1px solid #99c45a;
    background-color: #fff;
}
