.cards-list
  - @photo_albums.each do |album|
    .card
      .card__content
        .card__wrapper
          .card__photo
            = link_to image_tag(album.logo.url(:small), alt: ''), photo_album_photos_path(album), data: { no_turbolink: true }

          .card__right
            .card__header
              = link_to album.title, photo_album_photos_path(album), data: { no_turbolink: true }

            .card__description
              = album.description

            .card__footer
              .card__date
                .card__date-icon

                .card__date-text
                  | #{album.start_date.strftime("%d.%m")}-#{album.finish_date.strftime("%d.%m")}

              .card__photo-counter
                .card__photo-icon

                .card__photo-text
                  = album.photos.inject(0){|count, photo| count += photo.files.length}


      - if album.photos.present?
        .card__photos-list
          - album.photos.each do |image|
            - image.files.each do |file|
              .card__photos-list__photo
                = image_tag file.url(:small), alt: ''
          = link_to photo_album_photos_path(album), data: { no_turbolink: true }, class: 'card__photos-list__photo-button' do
            .card__photos-list__photo-icon

            span Посмотреть все фото
