.galery
  .galery__wrapper
    .galery__navigation
      .galery__navigation__wrapper
        a.galery__navigation__item.galery__navigation__item--left
        - if @photo_album.previous.present?
          = link_to photo_album_photos_path(@photo_album.previous.try(:id)), data: { no_turbolink: true }, class: "galery__navigation__item galery__navigation__item--left"
            .galery__navigation__icon

            .galery__navigation__text Предыдущее событие
        - else
          a.galery__navigation__item.galery__navigation__item--left.inactive
            .galery__navigation__icon.galery__navigation__icon--arrow-left-gray

            .galery__navigation__text Предыдущее событие

        = link_to root_path, data: { no_turbolink: true }, class: "galery__navigation__item galery__navigation__item--all"

          .galery__navigation__icon

          .galery__navigation__text Вернуться на главную

        - if @photo_album.next.present?
          = link_to photo_album_photos_path(@photo_album.next.try(:id)), data: { no_turbolink: true }, class: "galery__navigation__item galery__navigation__item--right"
            .galery__navigation__text Следующее событие
            .galery__navigation__icon
        - else
          a.galery__navigation__item.galery__navigation__item--right.inactive
            .galery__navigation__text Следующее событие
            .galery__navigation__icon.galery__navigation__icon--arrow-right-gray

      .card.card--no-top-shadow
        .card__content
          .card__wrapper
            .card__photo
              = image_tag @photo_album.logo.url(:small), lazy: true, alt: ''
            .card__right
              .card__header
                = @photo_album.title
              .card__description
                = @photo_album.description
              .card__footer
                .card__date
                  .card__date-icon

                  .card__date-text
                    = @photo_album.start_date.strftime("%d-%m-%Y")
                .card__photo-counter
                  .card__photo-icon

                  .card__photo-text
                    = @photo_album.photos.inject(0){|count, photo| count += photo.files.length}

    .galery__photos
      .galery__photos__navigation
        - @dates.each do |date|
          div class="#{@current_date.to_date == date ? 'galery__photos__navigation-button galery__photos__navigation-button--active' : 'galery__photos__navigation-button'}"
            = link_to photos_filter_path(@photo_album,date), data: { no_turbolink: true }
              b = date.strftime("%d-%m-%Y")
      ul.galery__preview-list#grid.effect-4.grid
        - index = -1
        - @photos.each do |photo|
          - photo.files.each_with_index do |file, json_index|
            li.galery__preview-item style="width: 20%"
              .galery__preview-photo
                .galery__preview-photo__actions
                  .galery__preview-photo__actions-wrapper
                    .galery__preview-photo__action-slider data-index="#{index+=1}"
                      .galery__preview-photo__action-slider__icon

                      .galery__preview-photo__action-slider__text
                        | Подробнее

                    .galery__preview-photo__action-shares
                      = link_to vk_share_link(file), target: "_blank", onclick: "return Share.me(this);" do
                        .galery__preview-photo__action-share.galery__preview-photo__action-share--vk
                      = link_to fb_share_link(file), target: "_blank", onclick: "return Share.me(this);" do
                        .galery__preview-photo__action-share.galery__preview-photo__action-share--facebook

                      = link_to downloads_photo_download_path(id: photo.id, index: json_index), data: { no_turbolink: true } do
                        .galery__preview-photo__action-share.galery__preview-photo__action-share--download
                .galery__preview-photo__image
                  = image_tag file.url(:small), alt: ''
              - if photo.files.length == 1
                - if photo.title.present?
                  .galery__preview-header
                    = photo.title
                - if photo.description.present?
                  .galery__preview-description
                    = photo.description
.modalwin
  .modalwin__wrapper
    .modalwin__background

    .modalwin__body
      .modalwin__logo
      .nodalwin__closer &times

      .modalwin__body__nav-button.modalwin__body__nav-button--prev data-direction="<"

      .modalwin__body__nav-button.modalwin__body__nav-button--next data-direction=">"
      .modalwin__slider.fotorama data-width="680" data-height="440" data-margin="25" data-nav="thumbs" data-arrows="always" data-thumbheight="80" data-thumbwidth="80" data-fit="contain"
        - @photos.each do |photo|
          - photo.files.each do |file|
            a href="#{file.url(:medium)}"

      .modalwin__slider-aside
        .modalwin__slider-aside__wrapper
          .modalwin__slider-aside__content
            .modalwin__slider-aside__header

            .modalwin__slider-aside__description Повседневная практика показывает Повседневная практика показывает Повседневная практика показывает Повседневная практика показывает Повседневная практика показывает

          .modalwin__slider-aside__controls

            a href="#" onclick="return Share.vkontakte('http://z-fest.ru', 'Zelenopark', 'Zelenopark');"
              .modalwin__slider-aside__control.modalwin__slider-aside__control--vk Опубликовать вконтакте
            br
            a href="#" onclick="return Share.facebook('http://z-fest.ru', 'Zelenopark', 'Zelenopark');"
              .modalwin__slider-aside__control.modalwin__slider-aside__control--facebook Опубликовать в facebook
            br
            a href="#" id='download-link' download='' onclick='return Share.downloadImage(this);' data-no-turbolink='true'
              .modalwin__slider-aside__control.modalwin__slider-aside__control--download Скачать фотографию
