.card {
    margin-bottom: 20px;
    position: relative;
    max-width: 940px;

    background: #fff;

    box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.75);

    &--no-top-shadow {
        box-shadow: 0px 10px 22px -18px rgba(0, 0, 0, 0.75)
    }

    &::after {
        width: 1px;
        bottom: 0;
        right: 0;
        top: 0;
        display: block;
        position: absolute;

        box-shadow: -10px 0px 15px #fff;

        content: ' ';
    }
}
