.card__photos-list__photo-button {
    padding: 10px 20px;
    margin-top: -16px;
    margin-left: -132px;
    top: 50%;
    left: 50%;
    display: flex;
    position: absolute;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 13px;

    background: #99c45a;

    cursor: pointer;
}
