.card__photos-list__photo {
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    position: relative;

    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
