doctype html
html
  head
    title ng-bind="title" Zelenopark
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .layout
      .layout__wrapper
        = link_to root_path, data: { no_turbolink: true } do
          .layout__aside
            .layout__aside__top
              .logo.logo--small

              .layout__aside__pattern

            .logo.logo--big
              .logo__container

            .promo-text
              .promo-text__header

              .promo-text__body

            .layout__aside__bottom-pattern

        .layout__main
          .layout__main__wrapper
            = yield
